ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(38, 38, 43);
  }
  






  .home {
      float: left;
  }

  #more {
    display: none;
  }
  #add{
    display:none;
  }
  #show{
    display: none;
  }

  #parkBtn{
    border:none;
    background: none;
  }
  #newsBtn {
    border: none;
    background: none;
  }
  #fridgeBtn{
    border: none;
    background: none;
  }

  #fridgeImage{
    width:50%;
    height: auto;
  }
  #parkImage{
    width: 50%;
    height: auto;
  }
  #newsImage{
    width: 100%;
    height: auto;
    margin-top: 20%;
  
  }
  .item {
    float: right;
  }
  
  li a {
    display: block;
    color: rgb(220, 218, 221);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: white;
  }
  .active {
    background-color: #04AA6D;
  }
  #photo {
    border-radius: 15px 50px;
    filter: grayscale(100%);
    height: 70%;
  } 

  #homefont {
    font-family: 'Source Code Pro', monospace;
  }

  #welcomefont {
    font-family: 'Oranienbaum', serif;
  }
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  .featurette-heading {
    letter-spacing: -.05rem;
  }  

  @media (min-width: 40em) {
    .featurette-heading {
      font-size: 40px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .center .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .center .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }